@media screen and (max-width: 1024px) {
    .nav-button {
        width: 10%;
    }

    .login-btn{
        display: none;
    }

    .about{
        flex-direction: column;
    }

    .about .left{
        width: 100%;
    }

    .about .right{
        width: 100%;
    }

}

@media screen and (max-width: 834px) {
    .logo {
        width: 25%;
    }

    .logo img {
        width: 4.5vw;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        font-size: 0.5rem;
        line-height: 1rem;
    }

    .logo {
        width: 50%;
        order: 1;
    }

    .logo img {
        width: 10vw;
    }

    .nav-links1 {
        display: none;
    }

    .menu-icon {
        display: block;
        order: 2;
    }

    .nav-button {
        width: 15%;
    }


    .mega-links li {
        margin: 5px 2px;
    }


}